
@use "custom";

//Import the components

@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

//Import the sections

@use 'sections/partners';
@use 'sections/faq';
@use 'sections/footer';
@use 'sections/get-started';
@use 'sections/hero-section';
@use 'sections/navbar';
@use 'sections/portfolio';
@use 'sections/services';
@use 'sections/testimonials';