@use'../custom'as*;
@use'../components/mixins'as*;

.get-started {
  background-color: $gray-300;
  padding: 4rem 0;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  h4, h3 {
    font-family: 'Oswald', sans-serif;
  }

  p {
    font-size: 1.125rem;
    color: $gray-700;
    }

}

.cta-info {
    padding: 3rem;
    margin: 1rem 0;

    &__list {
      position: relative;
      list-style-type: none;
      display: block;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      margin-bottom: 0.7rem;

      i {
        font-size: 1.1rem;
        margin-right: 0.5rem;
      }

     li {
     font-family: 'Poppins', sans-serif;}
    }

  }

  //form contents
   .form {
    padding: 3rem;

    input.form-control,  textarea.form-control {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    
  }

    button {
      border: none;
      color: $white;

      a{
        color: $white;
        text-decoration: none;
        text-transform: capitalize;
      }
    }
   }

  