@use '../custom' as *;
@use '../components/mixins' as *;

.hero-section {
  @include gradient;
  padding: 5rem 0 0 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

 
}

.hero-wave {

  margin-bottom: -2px;

 
}

.hero-wave svg {
  display: block;
  width: 100%;
  height: auto;
  
}


.hero {

  .video-box {
    position: relative;
    
    a {
      // @include absoluteCenter;

      span {

        i {
          font-size: 6rem;
          color: $secondary;
        }
      }
    }

  }
}

.border-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulse-border 1.5s ease-out infinite;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);

  &--border-1 {
    animation-delay: 1s;
  }

  &--border-2 {
    animation-delay: 2s;
  }
}

