//pulse border

//@keyframes pulse-border {
  //0% {
    //transform: scale(1);}
  //100% {
    //transform: scale(1.5);  
  //}
//}

@keyframes pulse-border {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.9);
    opacity: 0;
  }
}
