@use '../custom' as *;

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;

  &--intro {
    display: inline-block;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;

    @include media-breakpoint-up(lg) {
      font-size: 1.4rem;
      display: inline-block;
    }
  }
}

//Heading line

.heading-line::before{
  content: '';
  width: 10rem;
  height: 0.2rem;
  margin: 0 auto;
  background-color: $primary;
  display: block ;
}

.heading-line::after{
  content: '';
  width: 3rem;
  height: 0.1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: .5rem;
  background-color: $primary;
  display: block ;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.display-7, .display-3 {
  font-family: 'Oswald', sans-serif;

  &--title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-image: linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
    }
  }
}

//border-right line

.border-right {
  border-right: .2rem solid rgba($primary, $alpha: .5);
  height: 100%;
  
}

p {
  font-family: 'Poppins', sans-serif;
  word-spacing: .2rem;
}

//Gradient bg

.gradient {
  background: linear-gradient(to left, rgba($primary, 0.95), rgba($secondary, 0.95));
}